*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f6f9;
color:#222;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#4b0082;
color:white;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:28px;
font-weight:bold;
}

/* NAVBAR */

.navbar ul{
display:flex;
list-style:none;
gap:25px;
}

.navbar a{
text-decoration:none;
color:white;
font-weight:bold;
transition:0.3s;
}

.navbar a:hover{
opacity:0.7;
}

/* HERO SECTION */

.hero{
height:550px;
display:flex;
align-items:center;
padding:60px;
background:linear-gradient(to right,#4b0082,#7b2cbf);
color:white;
}

.hero-text{
max-width:650px;
}

.hero h1{
font-size:58px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
margin-bottom:35px;
line-height:1.6;
}

/* ACCOUNT BOX */

.account-box{
background:rgba(255,255,255,0.12);
padding:25px;
border-radius:16px;
backdrop-filter:blur(5px);
width:100%;
}

.account-box label{
display:block;
margin-bottom:15px;
font-size:18px;
font-weight:bold;
}

.input-group{
display:flex;
gap:15px;
}

.input-group input{
flex:1;
padding:16px;
border:none;
border-radius:10px;
font-size:16px;
outline:none;
}

.search-btn{
padding:16px 28px;
border:none;
background:white;
color:#4b0082;
font-size:16px;
border-radius:10px;
cursor:pointer;
font-weight:bold;
transition:0.3s;
}

.error-message {
  margin-top: 14px;
  color: #ff3d60;
  font-weight: bold;
}
box-shadow:0 8px 18px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card h2{
margin-bottom:15px;
color:#4b0082;
}

/* FOOTER */

footer{
background:#1c1c1c;
color:white;
text-align:center;
padding:25px;
}